################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/PaddleOCRSharpDemo/bin/Debug
/PaddleOCRSharp/bin/Debug
/PaddleOCRSharp/bin/Release
/PaddleOCRSharpDemo/bin/Release
/PaddleOCRSharp/obj
/.cr/personal/FavoritesList/List.xml
/PaddleOCRSharpDemo/obj/Debug
/PaddleOCRSharpDemo/obj/Release
/PaddleOCRSharpDemo/obj
